{% load static %}
<div id="fh5co-footer">
    <div class="container">
        <div class="row row-padded">
            <div class="col-md-12 text-center">
                <div class="fh5co-logo">
                    <img src="{% static "images/0103-served-plate_64.png" %}" alt="plato con cuchara y tenedor">
                </div>
                <p class="to-animate">&copy; 2024 Aché. Todos los derechos reservados. <br> Powered by <a href="http://www.uixsoftware.com/" target="_blank">Uixsoftware</a>
                </p>
                <p class="text-center to-animate"><a href="#" class="js-gotop">Ir al inicio</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="fh5co-social">
                    <li class="to-animate-2"><a href="#"><i class="icon-facebook"></i></a></li>
                    <li class="to-animate-2"><a href="#"><i class="icon-twitter"></i></a></li>
                    <li class="to-animate-2"><a href="#"><i class="icon-instagram"></i></a></li>
                    <li class="to-animate-2"><a href="#"><i class="icon-youtube-play"></i></a></li>
                    
                </ul>
            </div>
        </div>
    </div>
</div>