{% extends "./layouts/base_admin.html" %} {% load static %} {% block content %}
<div class="ms-content-wrapper box">
  <div class="ms-content-wrapper">
    <div class="row">
      <div class="col-md-12">
        <nav aria-label="breadcrumb" class="new">
          <ol class="breadcrumb pl-0">
            <li class="breadcrumb-item"><a href="{% url "index" %}"><i class="material-icons">home</i>Página principal</a></li>
            <li class="breadcrumb-item"><a href="#">Menu</a></li>
            <li class="breadcrumb-item active" aria-current="page">Platos</li>
          </ol>
        </nav>
        <div class="row">
          {% for p in platos %}
          <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
            <div class="ms-card">
              <div class="ms-card-img">
                <img src="{{p.imagen.url}}" alt="{{p.name}}" height: 50%; object-fit: contain;>
              </div>
              <div class="ms-card-body">

                <div class="new">
                  <h6 class="mb-0">{{p.name}} </h6>
                  <h6 class="ms-text-primary mb-0">${{p.precio}}</h6>
                </div>
                {% if p.disponible %}
                <div class="new meta">
                  {% for ps in sub %}
                  {% if ps.id == p.subcategoria_id %}
                  <p>{{ps.categoria}} | {{ps.name}}</p>
                  {% endif %}
                  {% endfor %}
                  
                  <span class="badge badge-success">Disponible</span>
                </div>
                {% else %}
                <div class="new meta">
                  {% for ps in sub %}
                  {% if ps.id == p.subcategoria_id %}
                  <p>{{ps.categoria}} | {{ps.name}}</p>
                  {% endif %}
                  {% endfor %}
                  <span class="badge badge-primary">No Disponible</span>
                </div>
                {% endif %}
                <p>{{p.historia}}</p>
                <div class="new mb-0">
                  <form action="{% url "eliminar" %}" class="needs-validation clearfix" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn grid-btn mt-0 btn-sm btn-secondary" value="{{p.name}}" name="plato">Eliminar</button>
                  </form>
                  <form action="{% url "editar_plato" %}" class="needs-validation clearfix" method="GET">
                    <button type="submit" class="btn grid-btn mt-0 btn-sm btn-primary" value="{{p.name}}" name="name">Editar</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
